body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgb(167, 166, 166);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 5px;
    flex-direction: column;
}

/* label {
    font-weight: bold;
} */

input,
select,
textarea,
button {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #27a7ce;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

#confirmationMessage {
    margin-top: 20px;
    font-weight: bold;
    color: rgb(176, 21, 21);
}

h1{
    text-align: center;
}

img {
    padding-left : 33% ;
    
}

legend{
    font-weight: bold;
}

